{{#each this}}
  <div class='photo-card'>
    <img class='image' src='{{this.webformatURL}}' alt='{{this.tags}}' width='300' height='250' />

    <div class='stats'>
      <p class='stats-item'>
        <i class='material-icons'>thumb_up</i>
        <span class='stats-text'>{{this.likes}}</span>

      </p>
      <p class='stats-item'>
        <i class='material-icons'>visibility</i>
        <span class='stats-text'>{{this.views}}</span>

      </p>
      <p class='stats-item'>
        <i class='material-icons'>comment</i>
        <span class='stats-text'>{{this.comments}}</span>

      </p>
      <p class='stats-item'>
        <i class='material-icons'>cloud_download</i>
        <span class='stats-text'>{{this.downloads}}</span>

      </p>
    </div>
  </div>
{{/each}}